*
{
	padding: 0;
	margin: 0;
}
body
{
	overflow: hidden;
}
.Book
{
	height: 100%;
	width: 100%;
	display: flex;
	overflow: auto;
	scroll-snap-type: x madatory;
}
.Book img
{
	height: 100vh;
	scroll-snap-align: start;
}